/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --darkest-color: #2E3047;
    --lightest-color: #C5C8CC;
    --mid-color: #f8fcff;
    --detail-color: #3b4079;
    --main-text-color: #5a5a5a;
    --shadow-main: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}


/* * {
    outline: 1px solid red;
} */

/* icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}





/* general */
body {
    background-color: var(--lightest-color);
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 3fr;
    grid-template-rows: min-content 3fr;
    font-family: 'Montserrat', sans-serif;
}

/* sidebar */
#dashboard {
    background-color: var(--darkest-color);
    color: var(--mid-color);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 100px ;
    grid-auto-rows: min-content;
    justify-content: space-around;
    justify-items: start;
    align-items: start;
    gap: 5rem;
}

h1 {
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    place-self: center;
}

#dashboard ul {
    font-size: 1.5rem;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#dashboard ul li span {
    margin-right: 1rem;
}

#dashboard ul li {
    display: flex;
    gap: 0.5rem;
}

#dashboard a {
    display: flex;
}

#dashboard ul a:link, #dashboard ul a:visited, #dashboard ul a:hover, #dashboard ul a:active {
    text-decoration: none;
    color: var(--mid-color);
}



/* nav */
nav {
    background-color: var(--mid-color);
    grid-column: 2;
    color: black;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5fr 2fr;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

input[type="search"] {
    background-color: var(--darkest-color);
    color: var(--lightest-color);
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    height: 2em;

    border: none;
    border-radius: 10px;
    padding: 0.3em 0.75em;
    transition: 180ms box-shadow ease-in-out;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.74)
}

input:focus {
    border: none;
    outline: none;
}

#container-search {
    grid-column: 1;
    width: 90%;
    margin: 1em;
}

#container-search form {
    display: flex;
    gap: 0.75em;
}

#container-user {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fit, 1fr);
    align-items: center;
    gap: 1em;
}

#container-user > img {
    height: 60px;
    border-radius: 50%;
}

#container-user span {
    color: black;
}

#container-greeting {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    margin-bottom: 0.75em;

    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

#container-greeting > img {
    height: 100px;
    border-radius: 50%;
}

#container-greeting > p {
    line-height: 1em;
}

#container-greeting .bold {
    font-weight: 600;
}

#container-button {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    justify-content: space-around;
}

#container-button button {
    background-color: var(--darkest-color);
    color: var(--lightest-color);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;

    border: none;
    border-radius: 17px;
    padding: 0.5rem 1rem;
}

#container-button button:hover {
    cursor: pointer;
}


/* MAIN */
main {
    display: grid;
    grid-template-columns: 2fr minmax(200px, 0.7fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    padding-right: 1em;
    padding-bottom: 1em;
}

/* div #project */
#project {
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: 50px repeat(auto-fit, minmax(200px, 1fr));
}

#project > h2 {
    grid-column: 1 / 3;
}

.card {
    padding: 0px 15px;
}

#project .card > .container {
    background-color: var(--mid-color);
    border-radius: 10px;
    border-left: 10px solid var(--detail-color);
    box-shadow: var(--shadow-main);
    padding: 2em 1em;

    display: grid;
    grid-template-rows: 25px 170px 25px;
}

.container > p:first-child {
    color: black;
    font-weight: 600;
    padding-bottom: 0.5em;
}

.container > p:nth-child(2) {
    color: var(--main-text-color);
    overflow: hidden;
    max-height: 96%;
}

#project .card .container .icon {
    color: black;
    justify-self: flex-end;
    cursor: pointer;
}

/* div #announcement */
#announcement {
    grid-row: 1;
    grid-column: 2;
}

#announcement > .side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#announcement > .side-container div > p:first-child {
    color: black;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: 600;
}

#announcement > .side-container div > p:nth-child(even)  {
    color: var(--main-text-color);
    font-size: 0.75rem;
}

main .side-container {
    background-color: var(--mid-color);
    border-radius: 10px;
    height: min(300px, 80%);
    box-shadow: var(--shadow-main);
    margin: 0 10px;
    padding: 1.5em 1.5em;
}

#announcement > p, #trend > p, #project > h2  {
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 15px;
    margin-bottom: 10px;
    align-self: flex-end;
}
/* div #trend */
#trend {
    grid-row: 2;
    grid-column: 2;
}

#announcement, #trend {
    display: grid;
    grid-template-rows: 50px 1fr;
}

#trend > .side-container div img {
    width: 50px;
}

#trend > .side-container div a:link, #trend > .side-container div a:visited, #trend > .side-container div a:hover, #trend > .side-container div a:active {
    color: black;
    text-decoration: none;
    font-size: 0.75rem;
}

#trend > .side-container {
    display: flex;
    flex-direction: column;
    gap: min(1.5em, 3em);
    justify-content: center;
}

#trend > .side-container div {
    display: grid;
    grid-template-columns: min-content 2fr;
    column-gap: 0.5em;
    align-items: center;
}